<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Welcome to the Login Page</h1>
	<div class="form-container">
		<form action="/login" method="post">
			<label>Email:</label>
			<input type="text" name="email" placeholder="Enter Email" required><br><br>
			
			<label>Password:</label>
			<input type="password" name="password" placeholder="Enter Password" required><br><br>
			
			<input type="submit" value="LOGIN">
		</form>
	</div>
</body>
</html>